@font-face {
  font-family: '0xProto';
  src: url('./assets/0xProtoNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --my-yellow: #ffdd33;
    --my-green: #73c936;
    --my-grey: #565f73;
}

.header-top {
    display: flex;
    align-items: vertical;
    gap: 3rem;
}

body {
    font-family: '0xproto', monospace;
    background-color: #181818;
}

a {
    color: inherit;
}


h1 {
    color: var(--my-yellow);
}

/* .highlight { */
    /* color: inherit; */
/* } */

h2 {
    color: var(--my-grey);
}


p {
    color: var(--my-green);
}



/* a { */
    /* color: inherit; */
    /* text-decoration: none; */
/* } */
